<!doctype html>
<html lang="en" data-framework="jquery">
    <head>
        <meta charset="utf-8">
        <title>jQuery • TodoMVC</title>
        <link rel="stylesheet" href="js/todomvc-common/base.css">
        <link rel="stylesheet" href="js/todomvc-app-css/index.css">
        <link rel="stylesheet" href="css/app.css">
        <script type="text/javascript">
            window.authUrl = "{{{authUrl}}}";
            window.dataUrl = "{{{dataUrl}}}";
        </script>
    </head>
    <body>
        <section id="login" class="route-section hidden">
            <form id="login_form" action="javascript:void(0);">
                <input class="input" placeholder="username" id="username" type="text" /><br/>
                <input class="input" placeholder="password" id="password" type="password" /><br/>
                <input id="login_submit" class="button" type="submit" value="Login" />
            </form>
            <a href="/#/register">Register instead</a>
        </section>
        <section id="register" class="route-section hidden">
            <form id="registration_form" action="javascript:void(0);">
                <input class="input" placeholder="username" id="r_username" type="text" /><br/>
                <input class="input" placeholder="password" id="r_password" type="password" /><br/>
                <input class="input" placeholder="password (confirm)" id="r_password2" type="password" /><br/>
                <input id="register_submit" class="button" type="submit" value="Register" />
            </form>
            <a href="/#/login">Login instead</a>
        </section>
        <section id="todoapp" class="route-section hidden">
            <header id="header">
                <h1>todos</h1>
                <input id="new-todo" placeholder="What needs to be done?" autofocus>
            </header>
            <section id="main">
                <input id="toggle-all" type="checkbox">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list"></ul>
            </section>
            <footer id="footer"></footer>
        </section>
        <footer id="info">
            <p><a href="/#/logout" id="logout">Logout <span id="userinfo"></span></a></p>
            <p>Double-click to edit a todo</p>
            <p>Created by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
        <script id="todo-template" type="text/x-handlebars-template">
            {{#this}}
            <li {{#if completed}}class="completed"{{/if}} data-id="{{id}}">
                <div class="view">
                    <input class="toggle" type="checkbox" {{#if completed}}checked{{/if}}>
                    <label>{{title}}</label>
                    <button class="destroy"></button>
                </div>
                <input class="edit" value="{{title}}">
            </li>
        {{/this}}
        </script>
        <script id="footer-template" type="text/x-handlebars-template">
            <span id="todo-count"><strong>{{activeTodoCount}}</strong> {{activeTodoWord}} left</span>
            <ul id="filters">
                <li>
                    <a {{#eq filter 'all'}}class="selected"{{/eq}} href="#/all">All</a>
                </li>
                <li>
                    <a {{#eq filter 'active'}}class="selected"{{/eq}}href="#/active">Active</a>
                </li>
                <li>
                    <a {{#eq filter 'completed'}}class="selected"{{/eq}}href="#/completed">Completed</a>
                </li>
            </ul>
            {{#if completedTodos}}<button id="clear-completed">Clear completed</button>{{/if}}
        </script>
        <script src="js/todomvc-common/base.js"></script>
        <script src="js/jquery/dist/jquery.js"></script>
        <script src="js/handlebars/dist/handlebars.js"></script>
        <script src="js/director/build/director.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
